.callprice_request_form .fieldset{padding: 22px 25px 12px 33px;background:none;border: none;margin:0;}
.callprice_request_form .form-list .input-box{width:145px !important;}
.request_details_message{font-size: 12px;font-weight: bold;text-align: left;width: 535px;}
